!!! 5

%html
  %head
    %title
      Login
    = stylesheet_link_tag("style")
    = javascript_include_tag("application")
  %body
    @comment_id
    @comment_user_id
    @comment_photo_id
    @comment_comment_text
    :javascript





