#filters-bar
  %div{:style => "float:left;margin-top:4px;margin-left:12px;margin-right:7px;"}
    Navigate to: 
  .filters-item.filters-text.underline
    Photos Around Me
  .filters-item.filters-text.underline
    Recently Uploaded
  .filters-item.filters-text.underline
    Most Favorited
  .clear
    .clear
