#navbar
  %a{:href => "#{photos_path()}"}
    %img#logo{:src => "assets/landskape_logo.png"}
  %div.float-right{:style=>"margin-right:40px;"}
    %div#search
      %form.form-search
        %div.input-append
          %input.span2.search-query{:type=>"text"}
          %button.btn{:type=>"submit"}
            %i.icon-search
    %div#upload
      %a.btn{:href => "#{upload_index_path()}", :method => "get"}
        Upload
        %i.icon-picture
    %div#login-logout
      /- pageContext.setAttribute('signup', 'logout')
      %a.btn.btn-success{:href => "#{logins_path()}?user_auth_action=logout"}
        Logout
    %div#who-logged-in
      Logged in as:
      -#= session
      %a{:href => "/user"}
        = @user.username
    .clear
  .clear
