!!! 5

%html
  %head
    %title
      Landskape: #{title}
    %link{:rel => "stylesheet", :type => "text/css", :href => "css/reset.css"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "css/bootstrap.min.css"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "stylesheets/style.sass"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "stylesheets/navbar.sass"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "stylesheets/userpage.sass"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "stylesheets/filters.sass"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "stylesheets/index.sass"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "stylesheets/upload.sass"}
  %body
    #container
