.container
  #filters-bar
    %div{:style => "float:left;margin-top:4px;margin-left:12px;margin-right:7px;"}
      Navigate to: 
    .filters-item.filters-text.underline
      Trending
    .filters-item.filters-text.underline
      Recent
    .filters-item.filters-text.underline
      Favorites
    .filters-item.filters-text.underline
      Photo of the Day
    .clear
