.container
  #navbar
    %a{:href => "/"}
      %img#logo{:src => "/img/landskape_logo.png"}
    %div.float-right{:style=>"margin-right:40px;"}
      %div#search
        %form.form-search
          %div.input-append
            %input.span2.search-query{:type=>"text"}
            %button.btn{:type=>"submit"}
              %i.icon-search
      %div#upload
        %a.btn{:href => "/upload"}
          Upload
          %i.icon-picture
      %div#login-logout
        %a.btn.btn-success
          Logout
      %div#who-logged-in
        Logged in as:
        %a{:href => "/user"}
          #{username}
      .clear
    .clear

