.container
  %div.column1
    %div.pic-thumb#pic-1
      %div.pic-thumb-hover-content
        %img.heart{:src => "img/heart_unselected.png", :class => "btn"}
        %a.comment-button.btn.filters-text
          comment
        .clear
      %img.pic.pic{:src => "img/greenery.jpg", :class => "pic"}
    %div.pic-thumb#pic-2
      %div.pic-thumb-hover-content
        %img.heart{:src => "img/heart_unselected.png", :class => "btn"}
        %a.comment-button.btn.filters-text
          comment
        .clear
      %img.pic{:src => "img/forest_path.jpg", :class => "pic"}
    %div.pic-thumb#pic-3
      %div.pic-thumb-hover-content
        %img.heart{:src => "img/heart_unselected.png", :class => "btn"}
        %a.comment-button.btn.filters-text
          comment
        .clear
      %img.pic{:src => "img/lake_fall.jpg", :class => "pic"}

  %div.column2
    %div.pic-thumb#pic-4
      %div.pic-thumb-hover-content
        %img.heart{:src => "img/heart_unselected.png", :class => "btn"}
        %a.comment-button.btn.filters-text
          comment
        .clear
      %img.pic{:src => "img/lake_fall.jpg", :class => "pic"}
    %div.pic-thumb#pic-5
      %div.pic-thumb-hover-content
        %img.heart{:src => "img/heart_unselected.png", :class => "btn"}
        %a.comment-button.btn.filters-text
          comment
        .clear
      %img.pic{:src => "img/greenery.jpg", :class => "pic"}
    %div.pic-thumb#pic-6
      %div.pic-thumb-hover-content
        %img.heart{:src => "img/heart_unselected.png", :class => "btn"}
        %a.comment-button.btn.filters-text
          comment
        .clear
      %img.pic.pic{:src => "img/forest_path.jpg", :class => "pic"}

  %div.column3
    %div.pic-thumb#pic-7
      %div.pic-thumb-hover-content
        %img.heart{:src => "img/heart_unselected.png", :class => "btn"}
        %a.comment-button.btn.filters-text
          comment
        .clear
      %img.pic{:src => "img/forest_path.jpg", :class => "pic"}
    %div.pic-thumb#pic-8
      %div.pic-thumb-hover-content
        %img.heart{:src => "img/heart_unselected.png", :class => "btn"}
        %a.comment-button.btn.filters-text
          comment
        .clear
      %img.pic{:src => "img/lake_fall.jpg", :class => "pic"}
    %div.pic-thumb#pic-9
      %div.pic-thumb-hover-content
        %img.heart{:src => "img/heart_unselected.png", :class => "btn"}
        %a.comment-button.btn.filters-text
          comment
        .clear
      %img.pic{:src => "img/greenery.jpg", :class => "pic"}
  .clear
